body{
    font-family: 'Poppins', sans-serif;
    margin: 2em;
}

input{
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    margin: 0.7em;
}

#lookupDiagnosis{
    width: 15em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: 0.8em;
    padding: 0.2em;
}

.selectedItems{
    border-radius: 20px;
    border: black;
    background-color: lightgray;
    padding: 1em;
    height: 30em;
    width: 25em;
    margin-left: 5em;
}

.listItems>*{
    background-color: white;
    height: 1.5em;
    width: 30em;
    border: solid 1px black;
    margin: 1.5em;
    padding: 0.5em;
    margin-top: -0.5em;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.listItems>*:hover{
    background-color: lightgray;
}

.divs{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    .divs{
        flex-direction: column;
    }
    .selectedItems{
        margin-left: 0em;
        width: 20em;
        height: 20em;
    }

    .listItems>*{
        width: 20em;
    }
}